.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Acabado:             
            | Son las diferentes técnicas empleadas para perfeccionar un producto.
        hr
        p
            strong.mr-2 Calidad:             
            | Es el grado en que un producto cumple con el propósito para el cual ha sido diseñado, satisfaciendo las necesidades del cliente.
        hr
        p
            strong.mr-2 Deshilachar:             
            | Sacar las hilachas a una tela.
        hr
        p
            strong.mr-2 Doblar:             
            | Juntar los extremos de dos piezas una sola vez y aplicar presión sobre la parte flexible.
        hr 
        p
            strong.mr-2 Empacar:             
            | Disponer materiales, elementos, o prendas en una envoltura que los revisten y lo protegen; bien sea en el proceso o en la presentación final. 
        hr
        p
            strong.mr-2 Rematar, atracar:             
            | Operación que se realiza en la máquina plana con la palanca de retroceso para asegurar una puntada.
        hr
        p
            strong.mr-2 Revisar:             
            | Someter materiales, prendas o accesorios a un chequeo, con el fin de confrontarlas a un patrón de normas y parámetros de calidad establecidos.
        hr       
        p
            strong.mr-2 Validación de producto:             
            | Es la acción de suministrar información y evidencias documentadas en concordancia con los principios de buenas prácticas de manufactura, que proporciona un alto grado de seguridad de que un proceso o producto cumple las especificaciones y características de calidad predeterminados.     