.container#page-introduccion

    .header-ecored
        h1 1. Inspección y validación de productos

    .jumbotron.bg-white 
      .jumbotron
        .row.justify-content-center.align-items-center
          .col-auto.my-5.my-md-0
            img(src="assets/images/pages/tema1/icon_01.svg", alt="" style= "width: 250px;")
          .col-12.col-md
            p Las empresas de confección industrial, al finalizar la elaboración de las prendas de dotación hospitalaria, implementan un proceso de inspección y control de calidad, que permite garantizar el cumplimento de las condiciones técnicas exigidas por los clientes.     

      .row.justify-content-center.align-items-center
        .col-10.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema1/img_01.jpg", alt="").img-fluid    

      .row.my-5
        .col 
          p De cuerdo con lo anterior, la verificación de productos terminados es una tarea crítica en la manufactura textil, ya que es la última etapa para poder validar la calidad del producto después del proceso de confección. 

          p Basados en los resultados de la revisión realizada, se tomarán decisiones sobre el producto, si se aprueba o, por el contrario, se rechaza y se solicita su reemplazo.  Este es el momento donde se pueden identificar los problemas que se presentaron durante la confección (hilos sin pulir, perforaciones por agujas, imperfecciones en tela y costuras, marcas con elementos inapropiados, entre otros.) y que no fueron visibles antes, sino hasta que el material textil está finalmente manufacturado.

          p En este sentido, las #[strong operaciones de terminado] (acabado) para prendas de dotación hospitalaria permitirán mejorar la apariencia de los productos, generando valor agregado. 

          p En esta etapa, se dan los últimos detalles a la prenda, por lo general, se inicia con la revisión y limpieza que consiste en extraer todos los residuos de hilo, verificar la resistencia de la costura y la apariencia de la puntada para, posteriormente, pasar al empaque. 

    .jumbotron.bg-white 

      .jumbotron      
        .row.justify-content-center.align-items-center        
          .col-12
            p #[strong El empaque] hace referencia a la envoltura y, a la vez, constituye la protección que acompaña a un producto. Cumple con los siguientes propósitos:    

      .row.justify-content-center.align-items-center.my-5
        .col-10.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema1/info_01.svg", alt="").img-fluid   

      .row
        .col
          p Es importante indicar que, si no se tienen establecidas las especificaciones de una prenda y no se cuenta con un procedimiento de inspección, no será posible validar si el producto está conforme o no. En este sentido, recobra importancia la ficha técnica donde se establecen los parámetros de calidad para cada producto y sobre los cuales se realiza la validación.  

      .jumbotron.mt-5.mb-0
        .row.justify-content-center.align-items-center
          .col-12.col-md-10.col-lg-7.d-flex.justify-content-center.my-5
            a(href="https://repositorio.sena.edu.co/handle/11404/4253" target="_blank")
              img(src="assets/images/pages/tema1/info_02.svg", alt="").img-fluid

    .jumbotron.bg-white      
      .row.justify-content-center.align-items-center        
        .col-auto
          img(src="assets/images/pages/tema1/icon_02.svg", style="width: 150px").img-fluid.mb-3.mb-md-0
        .col
          p.mb-0 A continuación, encontrará el procedimiento para la inspección y validación de los productos de dotación hospitalaria, a través de los siguientes videos explicativos:

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-0       
            h2 Finalización y empaque de cofia hospitalaria          
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/zvRMTj1jCcQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                strong Cofias III

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-0       
            h2 Finalización y empaque de polainas bajas hospitalarias          
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/mkmjnUS5soY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                strong Polainas bajas III

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-0       
            h2 Finalización y empaque de polainas altas hospitalarias       
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/jJRIiLGUCxQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                strong Polainas altas III

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-0       
            h2 Finalización y empaque de tapabocas hospitalario     
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/iAd1C_Sat94', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                strong Tapabocas III

