.container#page-introduccion

    .header-ecored
        h1 4. Herramientas de productividad e indicadores de gestión

    .jumbotron.bg-white        
      .row.justify-content-center.align-items-center        
        .col-12.col-lg-3.mb-4.mb-lg-0
          img(src="assets/images/pages/tema4/img_01.jpg").img-fluid.mb-3.mb-md-0
        .col-12.col-md
          p Los procesos de confección se deben controlar para cumplir con los objetivos propuestos. Para ello, es de gran importancia la implementación de herramientas específicas que permitan optimizar la producción, aumentando la productividad.

          p Según Prokopenko (1989), “la productividad se define como el uso eficiente de los recursos -trabajo, capital, materiales, energía, información- en la producción de diversos bienes y servicios” (p.3).  

          p.mb-0 Todas las empresas productivas desarrollan una serie de procesos al interior de sus instalaciones, que les permiten la fabricación de diferentes artículos.    
      

    .jumbotron.bg-white       

      .row
        .col
          .header-arrow.my-5
            h3.text-center En confección existen tres grandes procesos que son:    

      .row.justify-content-center.align-items-center.my-5 
        .col-12.col-lg-4.mb-5.mb-lg-0
          img(src="assets/images/pages/tema4/info_01.svg", alt="" style="width: 250px").mx-auto.d-block
        .col-12.col-lg-4.mb-5.mb-lg-0
          img(src="assets/images/pages/tema4/info_02.svg", alt="" style="width: 250px").mx-auto.d-block
        .col-12.col-lg-4
          img(src="assets/images/pages/tema4/info_03.svg", alt="" style="width: 250px").mx-auto.d-block

      .row.justify-content-center.align-items-center.my-5 
        .col-12.my-5
          p.text-center Para cada uno de estos procesos, se debe realizar un seguimiento que controle: 

      .row.justify-content-center.align-items-center.my-5 
        .col-auto.mb-5
          img(src="assets/images/pages/tema4/step_01.svg", alt="").mx-auto.d-block
        .col-auto.mb-5
          img(src="assets/images/pages/tema4/step_02.svg", alt="").mx-auto.d-block
        .col-auto.mb-5
          img(src="assets/images/pages/tema4/step_03.svg", alt="").mx-auto.d-block
        .col-auto.mb-5
          img(src="assets/images/pages/tema4/step_04.svg", alt="").mx-auto.d-block
        .col-auto.mb-5
          img(src="assets/images/pages/tema4/step_05.svg", alt="").mx-auto.d-block
        .col-auto.mb-5
          img(src="assets/images/pages/tema4/step_06.svg", alt="").mx-auto.d-block
        .col-auto.mb-5
          img(src="assets/images/pages/tema4/step_07.svg", alt="").mx-auto.d-block

      .row
        .col
          p Para este control productivo existen herramientas tales como tabla de control, cuaderno de producción, tablero de eficiencias, control de calidad, que permiten registrar toda la información requerida. Dicha información le permite a las empresas analizar el cumplimiento de las metas según la programación establecida.

      .jumbotron.mt-5.mb-0
        .row.justify-content-center.align-items-center
          .col-12.col-md-10.col-lg-7.d-flex.justify-content-center.my-5
            a(href="https://www.ingenieriaindustrialonline.com/ingenieria-de-metodos/estudio-del-trabajo/" target="_blank")
              img(src="assets/images/pages/tema2/info_01.svg", alt="").img-fluid 